@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS.Cars
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<Cars_CarsSaleVM>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}


<table class=" tables-style table table-borderless " id="table">
    <thead class="sticky-top">
        <tr>
            <th> @localizer["Details"] </th>
            <th> @localizer["OfferValueSale"] </th>
            <th> @localizer["SoldDate"]</th>
            <th> @localizer["OfferDate"]</th>
            <th> @localizer["CurrentMeter"] </th>
            <th class="DifferAlign"> @localizer["CarDistribution"] </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action(item.CrCasCarInformationForSaleStatus == "A" ? "OfferCarForSale" : "SoldCar", "CarsForSale", new { id = item.CrCasCarInformationSerailNo })'">
                <td>
                <a href="@Url.Content(item.CrCasCarInformationLastPictures)" target="_blank" onclick="event.stopPropagation();"><img src="~/CasSys/images/Rectangle 196.svg" alt="Details pdf anchor"></a>
            </td>
            <td>
                    <p>@item.CrCasCarInformationOfferValueSale.ToString("N2", CultureInfo.InvariantCulture)</p>
            </td>
            <td>
                    <p>@item.CrCasCarInformationSoldDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
            </td>
            <td>
                    <p>@item.CrCasCarInformationOfferedSaleDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
            </td>
            <td>    
                <p>@item.CrCasCarInformationCurrentMeter?.ToString("N0", CultureInfo.InvariantCulture)</p> 
            </td>
            <td class="DifferAlign car-name">
                <div class="d-flex gap-2 align-items-center">
                    <div class="col">
                        <div class="row justify-content-end">
                           @*  <div class="col-auto">
                                <div class="CarColorDiv" style="background-color: rgb(255, 255, 255);"></div>
                            </div> *@
                            <div class="col-auto">
                                <p class="FirstLineP">
                                        @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                        item.CrCasCarInformationConcatenateEnName :
                                        item.CrCasCarInformationConcatenateArName)
                                </p>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-auto">
                                <p class="secondLineP">
                                          @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                            item.CrCasCarInformation1?.CrCasBranchInformationEnShortName :
                                            item.CrCasCarInformation1?.CrCasBranchInformationArShortName)
                                </p>
                            </div>
                            <div class="col-auto">
                                <p class="secondLineP">@item.CrCasCarInformationSerailNo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-flex justify-content-end">
                        <div class="CarBorder-CarData">
                            <img src="@Url.Content(item.CrCasCarInformationDistributionNavigation?.CrMasSupCarDistributionImage)" alt="Car-photo" class="CarPhoto">
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="filter-number-td">
                        @{
                            var filterColor = "";
                            if (item.CrCasCarInformationStatus == Status.Sold) filterColor = "filter5-div";
                            else if (item.CrCasCarInformationForSaleStatus == Status.ForSale) filterColor = "filter1-div";
                            else if (item.CrCasCarInformationForSaleStatus == Status.RendAndForSale) filterColor = "filter2-div";
                            else if (item.CrCasCarInformationForSaleStatus == Status.Active) filterColor = "filter3-div";
                        }
                        <div class="filters @filterColor"></div>

                        <div>@no</div>

                </div>
            </td>
        </tr>
        no++;
        }
    </tbody>
</table>