@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS.Cars
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<Cars_CarsSaleVM>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="col d-flex align-items-center justify-content-center">
    <div class="container main-container">
        <form action="">
            <div class="row g-3 mb-3">
                <div class="col">
                    <h3>  @localizer["SalesProcedures"] </h3>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-end">

                    <div class="col-12 col-md-8 search-input-col">
                        <div class="form-outline w-100" data-mdb-input-init>
                            <span class="fa fa-search"></span>
                            <input type="search" id="search" class="form-control inputs search-input"
                                   name="search" aria-label="Search" autofocus autocomplete="off" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 filters-col">
                    <div class="filters-custom-order">

                        <label class="form-check-label" for="all">@localizer["All"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="all"
                               value="All" checked />
                    </div>
                    <div class="filters-custom-order">

                        <label class="form-check-label  filter3" for="NotForSale"> @localizer["NotOffered"] </label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="NotForSale"
                               value="A" />
                    </div>
                    <div class="filters-custom-order">

                        <label class="form-check-label filter2" for="Sale&Rent">@localizer["ForSaleAndRent"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="Sale&Rent"
                               value="V" />
                    </div>


                    <div class="filters-custom-order">

                        <label class="form-check-label filter1" for="ForSaleOnly">@localizer["ForSale"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="ForSaleOnly"
                               value="T" />
                    </div>
                    <div class="filters-custom-order">

                        <label class="form-check-label filter5" for="Sold">@localizer["Sold"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="Sold"
                               value="S" />
                    </div>

                </div>
            </div>
            <div class="row table-row px-3">
                <div class="col  scroll-table-div  table-responsive-sm  w-100  dataTable">
                    <partial name="_CarsForSaleData">
                </div>
            </div>
        </form>
        <a href="/CAS/Home/Index" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["BackToHome"]"
           class="new-Page-icon"><img src="~/CasSys/images/back to main.svg" alt="man"></a>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("input[name='customRadio'][value='" + '@ViewBag.radio' + "']").prop("checked", true);
        });
        ///////
    </script>
    <script>
        // To Handle Background
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        $(document).on("click", ".clickable-row", function () {
            console.log("Clicked on a row!");
            var url = $(this).data("url");
            console.log("URL:", url);
            if (url) {
                window.location.href = url;
            }
        });
         //get AccountBank By Status function
        function GetCarsFitler(status, search) {
            $.ajax({
                type: "GET",
                data: {
                    status: status, search: search
                },
                url: "@Url.Action("GetCarsByStatus", "CarsForSale", new { Area = "CAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                },
            })
        }

        $("input[name='customRadio']").on("click", function () {
             const status = $(this).val();
             const search = $("#search").val(); 
             GetCarsFitler(status, search);
         });

         // عند كتابة أي شيء في حقل البحث، تحديث الفلتر
         $("#search").on("keyup", function () {
             const status = $("input[name='customRadio']:checked").val();
             const search = $(this).val();
             GetCarsFitler(status, search);
         });
    </script>
}
