@model Cars_CarsSaleVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}



<div class="container-fluid h-100 main-container-fluid">
    <div class="row h-100 flex-nowrap">
        <div class="col  d-flex align-items-center justify-content-center flex-column">
            <div class="container NewUpdate-container">
                <div class="row mt-3 g-3 CarPagesRow">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <form asp-area="CAS" asp-action="OfferCarForSale" asp-controller="CarsForSale" class="needs-validation" novalidate id="carsForm">
                                <input asp-for="CrCasCarInformationSerailNo" hidden />
                                <div class="row g-3 my-2">
                                    <div class="col-md-6">
                                        <h3>  @localizer["CarForSaleUpdate"] </h3>
                                    </div>
                                    <div class="col-md-6 save-col">
                                        <button type="submit" class="custom-img-btn">
                                            <img src="~/CasSys/images/save.svg" />
                                        </button>

                                        <button type="button" class="custom-img-btn"><a class="d-flex align-items-center" href="/CAS/CarsForSale/Index"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="row align-items-center">
                                            <div class="col-md-auto">
                                                <div class="CarBorder-CarData">
                                                    <img src="~/CasSys/images/2021000018.png" alt="Car-photo" class="CarPhoto">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="row align-items-baseline">
                                                    <div class="col-auto">
                                                        <h5 class="subtitle">
                                                            @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                                                Model.CrCasCarInformationConcatenateEnName :
                                                                Model.CrCasCarInformationConcatenateArName)
                                                        </h5>
                                                    </div>
                                                    @* <div class="col-auto">
                                                        <div class="CarColorDiv" style="background-color: rgb(255, 255, 255);"></div>
                                                    </div> *@
                                                </div>
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="m-0">@Model.CrCasCarInformationNo</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <p class="m-0">
                                                            @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                                                Model.CrCasCarInformation1?.CrCasBranchInformationEnShortName :
                                                                Model.CrCasCarInformation1?.CrCasBranchInformationArShortName)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["AddedDate"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarInformationJoinedFleetDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["ContractsCount"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarInformationConractCount?.ToString("N0", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row justify-content-between">
                                                    <div class="col-md-auto">
                                                        <div class="row">
                                                            <div class="col-auto">
                                                                <p class="DataTitle">@localizer["Days_Count"]</p>
                                                            </div>
                                                            <div class="col-auto ">
                                                                <p class="Saved-data">@Model.CrCasCarInformationConractDaysNo?.ToString("N0", CultureInfo.InvariantCulture)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-auto">
                                                        <div class="row">
                                                            <div class="col-md-auto">
                                                                <img class="Documents" src="~/CasSys/images/الوثائق.svg" />
                                                                <div class="dropdown-content carSale-dropdownContent ">
                                                                    <div class="container-fluid py-2">
                                                                        @foreach (var doc in Model.CrCasCarDocumentsMaintenances.Where(x=>x.CrCasCarDocumentsMaintenanceProceduresClassification=="12"))
                                                                        {
                                                                            <div class="row dropdown-content-row pt-2 ">

                                                                                <div class="col">
                                                                                    <a class="Documents-anchor">
                                                                                        <p class="Saved-data @(doc.CrCasCarDocumentsMaintenanceStatus == Status.Renewed || doc.CrCasCarDocumentsMaintenanceStatus == Status.Expire ? "text-danger" : "")">
                                                                                            @(requestCulture?.RequestCulture.UICulture.Name == "en-US"
                                                                                                ? doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName
                                                                                                : doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName)
                                                                                        </p>
                                                                                    </a>
                                                                                    <div class="documentDate justify-content-end">
                                                                                        <p> : @localizer["Expirationdate"] </p> <span>@doc.CrCasCarDocumentsMaintenanceEndDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-auto  ">

                                                                                    @if (!string.IsNullOrEmpty(doc.CrCasCarDocumentsMaintenanceImage))
                                                                                    {
                                                                                        <a href="@Url.Content(doc.CrCasCarDocumentsMaintenanceImage)" target="_blank">
                                                                                            <img src="~/CasSys/images/Existing file.svg" class="file-status">
                                                                                        </a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img src="~/CasSys/images/file not exist.svg" class="file-status not-exist">
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @if (doc != Model.CrCasCarDocumentsMaintenances.Last())
                                                                            {
                                                                                <hr class="dropdown-content-hr">
                                                                            }
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-auto">
                                                                <img class="Documents" src="~/CasSys/images/الصيانة.svg" />
                                                                <div class="dropdown-content carSale-dropdownContent ">
                                                                    <div class="container-fluid py-2">
                                                                        @foreach (var doc in Model.CrCasCarDocumentsMaintenances.Where(x=>x.CrCasCarDocumentsMaintenanceProceduresClassification=="13"))
                                                                        {
                                                                            <div class="row dropdown-content-row pt-2 ">

                                                                                <div class="col">
                                                                                    <a class="Documents-anchor">
                                                                                        <p class="Saved-data @(doc.CrCasCarDocumentsMaintenanceStatus == Status.Renewed || doc.CrCasCarDocumentsMaintenanceStatus == Status.Expire ? "text-danger" : "")">
                                                                                            @(requestCulture?.RequestCulture.UICulture.Name == "en-US"
                                                                                                ? doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresEnName
                                                                                                : doc.CrCasCarDocumentsMaintenanceProceduresNavigation.CrMasSysProceduresArName)
                                                                                        </p>
                                                                                    </a>
                                                                                    <div class="documentDate justify-content-end">
                                                                                        <p class="mx-1"><span>@doc.CrCasCarDocumentsMaintenanceKmEndsAt?.ToString("N0", CultureInfo.InvariantCulture)</span>@localizer["KM"]</p>
                                                                                        <span>@doc.CrCasCarDocumentsMaintenanceEndDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</span>
                                                                                        <p>  @localizer["Expirationdate"] :</p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-auto  ">

                                                                                    @if (!string.IsNullOrEmpty(doc.CrCasCarDocumentsMaintenanceImage))
                                                                                    {
                                                                                        <a href="@Url.Content(doc.CrCasCarDocumentsMaintenanceImage)" target="_blank">
                                                                                            <img src="~/CasSys/images/Existing file.svg" class="file-status">
                                                                                        </a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img src="~/CasSys/images/file not exist.svg" class="file-status not-exist">
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            @if (doc != Model.CrCasCarDocumentsMaintenances.Last())
                                                                            {
                                                                                <hr class="dropdown-content-hr">
                                                                            }
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            @* <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["KM_Count_walked"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarInformationCurrentMeter?.ToString("N0", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div> *@
                                            <div class="col-md-auto">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["CurrentMeter"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarInformationCurrentMeter?.ToString("N0", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row g-2 align-items-center">
                                        <div class="col-md-4">
                                            <label for="date"
                                                   class="form-label">
                                                @localizer["OfferDate"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <input type="date" id="date" class="form-control inputs" asp-for="CrCasCarInformationOfferedSaleDate">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="CrCasCarInformationOfferedSaleDate" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="Price"
                                                   class="form-label">
                                                @localizer["Price"]
                                                <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                            </label>
                                            <input type="text" id="Price" class="form-control inputs number-input" asp-for="OfferValueSaleString" maxlength="12" oninput="validateNumericInput(this)">
                                            <div class="invaild">
                                                <div class="invalid-feedback">
                                                    <span asp-validation-for="OfferValueSaleString" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="d-flex gap-2 align-items-end">
                                                <input class="form-check-input checkbox" type="checkbox" value="true" id="Rent&Sale" name="CrCasCarInformationForSaleStatus">
                                                <label class="form-check-label" for="Rent&Sale">
                                                    @localizer["ForSaleAndRent"]
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>@localizer["reasons"]</label>
                                        <textarea class=" form-control textarea-inputs" rows="1" maxlength="100" asp-for="CrCasCarInformationReasons" type="text"></textarea>
                                        <div class="invaild">
                                            <div class="invalid-feedback">
                                                <span asp-validation-for="CrCasCarInformationReasons" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="my-3">@localizer["CarsPictures"]</label>
                                    <table class="table CarImagesTable attatchments-table" id="CarImagesTable">
                                        <tbody>
                                            <tr style="height: 140px;">
                                                <td>
                                                    <div class="upload__box  upload__box2 d-flex ">
                                                        <div class="upload_img-wrap_inner">
                                                            <div class="upload__btn-box" id="CarImages-upload-box">
                                                                <label class="upload__btn">
                                                                    <div class="upload-container-checking CarImages-Upload">
                                                                        <img class="upload-icon"
                                                                             src="~/CasSys/images/Add.svg"
                                                                             alt="Upload Icon" id="addImage">
                                                                        <input type="file" multiple
                                                                               accept="image/*"
                                                                               id="Car-images"
                                                                               class="upload__inputfile ">
                                                                    </div>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </td>

                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>


                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- script to display and hide the mentanance and documents detaild data -->
    <script>
        document.querySelectorAll('.Documents').forEach(img => {
            img.addEventListener('click', function () {
                const currentDropdown = this.closest(".col-md-auto").querySelector('.dropdown-content');
                const isCurrentlyVisible = currentDropdown.style.display === 'block';

                document.querySelectorAll('.dropdown-content').forEach(dropdown => {
                    dropdown.style.display = 'none';
                });

                if (!isCurrentlyVisible) {
                    currentDropdown.style.display = 'block';
                }
            });
        });

        document.addEventListener('click', function (event) {
            if (!event.target.closest('.col-md-auto')) {
                document.querySelectorAll('.dropdown-content').forEach(dropdown => {
                    dropdown.style.display = 'none';
                });
            }
        });
        
    </script>
    <!-- script for car images display and upload   -->
    <script>
        var CarImagesArray = [];
        var CarImagesTdIndex = 0;


        function CarImgUpload() {
            var maxLength = 4;
            var uploadBtnBox = document.getElementById('CarImages-upload-box');

            $('#Car-images').on('change', function (e) {
                handleImageUpload(e, '#CarImagesTable', CarImagesArray, maxLength, uploadBtnBox, 'CarImages');
            });
        }

        function handleImageUpload(event, tableSelector, array, maxLength, uploadBtnBox, type) {
            var uploadBox = $(event.target).closest('.upload__box');
            var files = event.target.files;
            var filesArr = Array.prototype.slice.call(files);

            for (var i = 0; i < Math.min(filesArr.length, maxLength - array.length); i++) {
                (function (f) {
                    if (f.type === 'image/heic' || f.type === 'image/heif' || f.name.endsWith('.heic') || f.name.endsWith('.heif')) {
                        heic2any({ blob: f, toType: "image/jpeg" })
                            .then(function (convertedBlob) {
                                processFile(convertedBlob, f.name, tableSelector, array, maxLength, uploadBtnBox, type);
                            })
                            .catch(function (err) {
                                console.error("Error converting HEIC/HEIF image:", err);
                            });
                    } else {
                        processFile(f, f.name, tableSelector, array, maxLength, uploadBtnBox, type);
                    }
                })(filesArr[i]);
            }

            $('body').on('click', '.upload__img-close1', function (e) {
                e.stopPropagation();
                var file = $(this).parent().data('file');

                for (var i = 0; i < array.length; i++) {
                    if (array[i].f.name === file) {
                        array.splice(i, 1);
                        break;
                    }
                }

                $(this).closest('.upload__img-box').remove();

                if (array.length < maxLength) {
                    uploadBtnBox.style.display = 'flex';
                    updateCurrentTdIndex(tableSelector, type, uploadBtnBox);
                }

                if (array.length === 0) {
                    CarImagesTdIndex = 0;

                    uploadBtnBox.style.display = 'flex';
                    $(`${tableSelector} td`).eq(CarImagesTdIndex).append(uploadBtnBox);
                }
            });
        }

        function processFile(file, fileName, tableSelector, array, maxLength, uploadBtnBox, type) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var html = `
          <div class='upload__img-box Attatchments-img-box'>
            <div style='background-image: url(${e.target.result})' data-file='${fileName}' class='img-bg'>
              <div class='upload__img-close1'><i class='fa-regular fa-trash-can'></i></div>
            </div>
          </div>
        `;

                var currentTdIndex = CarImagesTdIndex;
                var targetTd = $(`${tableSelector} td`).eq(currentTdIndex);
                targetTd.append(html);

                array.push({ f: file, url: e.target.result });
                 console.log(array)
                updateCurrentTdIndex(tableSelector, type, uploadBtnBox);

                if (array.length >= maxLength) {
                    uploadBtnBox.style.display = 'none';
                }
            };
            reader.readAsDataURL(file);
        }

        function updateCurrentTdIndex(tableSelector, type, uploadBtnBox) {
            var currentTdIndex = CarImagesTdIndex;

            $(`${tableSelector} td`).each(function (index) {
                if ($(this).find('.upload__img-box').length === 0) {
                    if (type === 'compensation') compensationTdIndex = index;
                    else CarImagesTdIndex = index;

                    uploadBtnBox.style.display = 'flex';
                    $(this).append(uploadBtnBox);
                    return false; // Break the loop
                }
            });
        }
        jQuery(document).ready(function () {

            CarImgUpload();
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dateInput = document.getElementById("date");
            var today = new Date().toISOString().split("T")[0]; // الحصول على تاريخ اليوم بصيغة YYYY-MM-DD

            dateInput.setAttribute("min", today); // تعيين الحد الأدنى إلى اليوم الحالي

            // ✅ ضبط التاريخ الافتراضي إلى اليوم الحالي عند تحميل الصفحة إذا لم يتم تحديده
            if (!dateInput.value) {
                dateInput.value = today;
            }

            // ✅ منع اختيار تاريخ في الماضي
            dateInput.addEventListener("change", function () {
                if (dateInput.value < today) {
                    dateInput.value = today;
                }
            });
        });

         function validateNumericInput(input) {
            let maxLength = parseInt(input.getAttribute("maxlength")); // الحد الأقصى للإدخال
            let maxAfterDecimal = 2; // رقمين بعد العلامة العشرية
            let maxBeforeDecimal = maxLength - (maxAfterDecimal + 1); // عدد الأرقام قبل العلامة العشرية

            let value = input.value;

            // السماح فقط بالأرقام والنقطة العشرية
            value = value.replace(/[^0-9.]/g, '');

            // منع إدخال أكثر من نقطة عشرية واحدة
            let decimalCount = (value.match(/\./g) || []).length;
            if (decimalCount > 1) {
                value = value.substring(0, value.lastIndexOf(".")); // إزالة النقطة الزائدة
            }

            let decimalIndex = value.indexOf('.');

            if (decimalIndex !== -1) {
                let beforeDecimal = value.substring(0, decimalIndex);
                let afterDecimal = value.substring(decimalIndex + 1);

                // منع النقطة في بداية الرقم
                if (beforeDecimal === "") {
                    beforeDecimal = "0";
                }

                // تقييد الأرقام قبل وبعد العلامة العشرية
                beforeDecimal = beforeDecimal.substring(0, maxBeforeDecimal);
                afterDecimal = afterDecimal.substring(0, maxAfterDecimal);

                // تحديث القيمة النهائية
                input.value = beforeDecimal + '.' + afterDecimal;
            } else {
                // لا يوجد نقطة عشرية، تقييد الإدخال بعدد الأرقام المسموح بها
                input.value = value.substring(0, maxBeforeDecimal);
            }
        }
    </script>
   
}