@using Bnan.Core.Extensions
@model List<CrCasBranchInformation>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}



<table class=" tables-style table table-borderless " id="Branches-table">
    <thead class="sticky-top">
        <tr>
            <th scope="col">@localizer["Documents"]</th>
            <th scope="col">@localizer["Available"]</th>
            <th scope="col">@localizer["UnAvailable"]</th>
            <th scope="col">@localizer["Rented"]</th>
            <th scope="col">@localizer["Cars"]</th>
            <th scope="col">@localizer["RentedSystem"]</th>
            <th scope="col" class="DifferAlign">@localizer["Branch"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td style="cursor:pointer">
                    <img class="Documents" src="~/CasSys/images/docs.svg" />
                    <div class="dropdown-content ">
                        <div class="container-fluid py-2">
                            @foreach (var doc in item.CrCasBranchDocuments)
                            {
                                <div class="row dropdown-content-row pt-2 ">
                                    <div class="col-auto  ">
                                        <a href="@Url.Content(doc.CrCasBranchDocumentsImage)"
                                           target="_blank">
                                            <img src="~/CasSys/images/Existing file.svg" class="file-status existing">
                                        </a>
                                    </div>
                                    <div class="col text-end ">
                                        <a class="Documents-anchor">
                                            <p class="Saved-data">@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? doc.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresEnName : doc.CrCasBranchDocumentsProceduresNavigation.CrMasSysProceduresArName) </p>
                                        </a>
                                        <div class="documentDate">
                                            <p> : @localizer["Expirationdate"] </p> <span>@doc.CrCasBranchDocumentsEndDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</span>
                                        </div>
                                    </div>

                                </div>
                                @if (doc != item.CrCasBranchDocuments.Last())
                                {
                                    <hr class="dropdown-content-hr">
                                }
                            }
                        </div>
                    </div>
                </td>
                @{
                    var available = item.CrCasCarInformations.Count(x => x.CrCasCarInformationStatus == Status.Active &&
                    x.CrCasCarInformationPriceStatus == true && x.CrCasCarInformationBranchStatus == Status.Active &&
                    x.CrCasCarInformationOwnerStatus == Status.Active &&
                    (x.CrCasCarInformationForSaleStatus == Status.Active || x.CrCasCarInformationForSaleStatus == Status.RendAndForSale));
                    var rented = item.CrCasCarInformations.Count(x => x.CrCasCarInformationStatus == Status.Rented || x.CrCasCarInformationStatus == Status.RendAndForSale);
                    var carCount = item.CrCasCarInformations.Count(x => x.CrCasCarInformationStatus != Status.Sold && x.CrCasCarInformationStatus != Status.Deleted);
                    var unAvailable = carCount - rented - available;
                }
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'"><p>@available.ToString("N0",CultureInfo.InvariantCulture)</p></td>
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'"><p>@unAvailable.ToString("N0",CultureInfo.InvariantCulture)</p></td>
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'"><p>@rented.ToString("N0",CultureInfo.InvariantCulture)</p></td>
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'"><p>@carCount.ToString("N0",CultureInfo.InvariantCulture)</p></td>
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'">@item.CrCasBranchInformationTgaCode</td>
                <td onclick="location.href='@Url.Action("Edit", "Branches", new { id = item.CrCasBranchInformationCode })'" class="DifferAlign">
                    <p class="FirstLineP">@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? item.CrCasBranchInformationEnShortName : item.CrCasBranchInformationArShortName)</p>
                    <p class="secondLineP">@(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? item.CrCasBranchPost.CrCasBranchPostCityNavigation?.CrMasSupPostCityConcatenateEnName : item.CrCasBranchPost.CrCasBranchPostCityNavigation?.CrMasSupPostCityConcatenateArName)</p>
                </td>
                <td>
                    <div class="filter-number-td">
                        @{
                            var filterColor = "";
                            if (item.CrCasBranchInformationStatus == Status.Active) filterColor = "filter2-div";
                            else if (item.CrCasBranchInformationStatus == Status.Hold) filterColor = "filter1-div";
                            else if (item.CrCasBranchInformationStatus == Status.Deleted) filterColor = "filter3-div";
                        }
                        <div class="filters @filterColor"></div>
                        <div>@no</div>
                    </div>
                </td>
            </tr>
            no++;
        }
    </tbody>
</table>
