@model Bnan.Ui.ViewModels.CAS.BranchVM

@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="col  d-flex align-items-center justify-content-center flex-column">
    <div class="container NewUpdate-container">
        <form asp-area="CAS" asp-action="AddBranch" asp-controller="Branches" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
            <div class="row mt-3 g-3">
                <input name="SigntureFile" id="SigntureFile" hidden />
                <input asp-for="CrCasBranchInformationCode" hidden />
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row g-3 my-2">
                            <div class="col-md-6">
                                <h3>@localizer["Add Branch Data"]</h3>
                            </div>
                            <div class="col-md-6 save-col">
                                <button type="submit" class="custom-img-btn">
                                    <img src="~/CasSys/images/save.svg" />
                                </button>
                                <button type="button" class="custom-img-btn"><a class="d-flex align-items-center" href="/CAS/Branches/Branches"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                            </div>
                        </div>
                        <main class="mt-3 g-3">
                            <div class="accordion inputs-accordion">
                                <div class=" inputs-accordion-item">
                                    <div class=" inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">
                                            <i class="fa-solid fa-check data-check"></i> @localizer["Information"]
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             viewBox="0 0 24 24" fill="none" stroke="#666666"
                                             stroke-width="3" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-chevron-down accordion-item-header-icon">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    </div>
                                    <div class="accordion-item-description-wrapper">
                                        <div class="accordion-item-description">
                                            <hr class="accordion-items-hr">
                                            <div class="container-fluid data-scroll-container">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <label for="Branch-name-ar"
                                                               class="form-label">
                                                            @localizer["BranchNameAr"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="Branch-name-ar"
                                                               class="form-control inputs arabic-input"
                                                               asp-for="CrCasBranchInformationArName" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" maxlength="100" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationArName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="Branch-name-ar-abstract"
                                                               class="form-label">
                                                            @localizer["BranchNameArShort"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="Branch-name-ar-abstract"
                                                               class="form-control inputs  arabic-input"
                                                               asp-for="CrCasBranchInformationArShortName" maxlength="20" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationArShortName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <label for="Branch-name-en"
                                                               class="form-label">
                                                            @localizer["BranchNameEn"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="Branch-name-en"
                                                               class="form-control inputs english-input"
                                                               asp-for="CrCasBranchInformationEnName" maxlength="100" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationEnName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <label for="Branch-name-en-abstract"
                                                               class="form-label">
                                                            @localizer["BranchNameEnShort"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="Branch-name-en-abstract"
                                                               class="form-control inputs english-input"
                                                               asp-for="CrCasBranchInformationEnShortName" maxlength="20" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationEnShortName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="manager-name-ar"
                                                               class="form-label">
                                                            @localizer["DirNameAr"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="manager-name-ar"
                                                               class="form-control inputs arabic-input"
                                                               asp-for="CrCasBranchInformationDirectorArName" maxlength="30" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationDirectorArName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="manager-name-en"
                                                               class="form-label">
                                                            @localizer["DirNameEn"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="manager-name-en"
                                                               class="form-control inputs english-input"
                                                               asp-for="CrCasBranchInformationDirectorEnName" maxlength="30" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationDirectorEnName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="Tax-number" class="form-label">
                                                            @localizer["RentedSystemNo"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>

                                                        </label>
                                                        <input type="text" id="Tax-number" class="form-control inputs" asp-for="CrCasBranchInformationTgaCode" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="@Model.CrCasBranchInformationTgaCode" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="phone1" class="form-label">
                                                            @localizer["TelePhone"]
                                                        </label>
                                                        <div class="input-group has-validation">
                                                            <input type="tel"
                                                                   class="form-control inputs tel-input"
                                                                   id="phone1" asp-for="CrCasBranchInformationTelephone" maxlength="15">
                                                            <select class="input-group-text select-style counterCode" asp-for="CrMasBranchInformationTeleKey">
                                                                @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                                                                {
                                                                    <option value="@callingKey.Text">@callingKey.Text</option>
                                                                }
                                                            </select>
                                                            <div class="invaild">
                                                                <div class="invalid-feedback">
                                                                    <span asp-validation-for="@Model.CrCasBranchInformationTelephone" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="phone2" class="form-label">
                                                            @localizer["MobilePhone"]
                                                        </label>
                                                        <div class="input-group ">
                                                            <input type="tel"
                                                                   class="form-control inputs tel-input"
                                                                   id="phone2" asp-for="CrCasBranchInformationMobile" maxlength="15">
                                                            <select class="input-group-text select-style counterCode"
                                                                    asp-for="CrMasBranchInformationMobileKey">
                                                                @foreach (var callingKey in (List<SelectListItem>)ViewData["CallingKeys"])
                                                                {
                                                                    <option value="@callingKey.Text">@callingKey.Text</option>
                                                                }
                                                            </select>
                                                            <div class="invaild">
                                                                <div class="invalid-feedback">
                                                                    <span asp-validation-for="@Model.CrCasBranchInformationMobile" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                                <div class="row align-items-center g-3 ">
                                                    <div class="col-md-8">
                                                        <label for="CrCasBranchInformationReasons"> @localizer["reasons"]</label>
                                                        <textarea class=" form-control textarea-inputs" rows="1" maxlength="100" asp-for="CrCasBranchInformationReasons" type="text"></textarea>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="row align-items-center justify-content-end">
                                                            <div class="col-auto">
                                                                <button type="button" class="custom-img-btn"><img src="~/CasSys/images/icon.svg" data-bs-toggle="modal" href="#signature-modal"  /></button>
                                                            </div>
                                                            <div class="col-auto">
                                                                <img src="~/CasSys/images/signature.svg"
                                                                     id="previewSignature">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inputs-accordion-item">
                                    <div class="inputs-accordion-item-header">
                                        <span class="accordion-item-header-title">
                                            <i class="fa-solid fa-check data-check"></i> @localizer["Address"]
                                        </span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             viewBox="0 0 24 24" fill="none" stroke="#666666"
                                             stroke-width="3" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-chevron-down accordion-item-header-icon">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    </div>
                                    <div class="accordion-item-description-wrapper">
                                        <div class="accordion-item-description">
                                            <hr class="accordion-items-hr">
                                            <div class="container-fluid data-scroll-container">
                                                <div class="row">
                                                    <div class="col-md-6" style="position:relative">
                                                        <label for="City-Area"
                                                               class="form-label">
                                                            @localizer["PostCityConcateAr"]
                                                            <i class="fa-solid fa-star-of-life RequirdStar"></i>
                                                        </label>
                                                        <input type="text" id="City-Area" class="form-control inputs" asp-for="BranchPostVM.CrCasBranchPostCityText" maxlength="50" autocomplete="off" required>
                                                        <div id="autocomplete-Cities" class="autocomplete-items autocomplete-Cities"> </div>
                                                        <input type="text" id="City-Area-code" asp-for="BranchPostVM.CrCasBranchPostCity" hidden>
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="BranchPostVM.CrCasBranchPostCity" id="Region-city-tenant-error" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="street-name-ar"
                                                               class="form-label">@localizer["StreetNameAr"]</label>
                                                        <input type="text" id="street-name-ar"
                                                               class="form-control inputs arabic-input"
                                                               asp-for="BranchPostVM.CrCasBranchPostArStreet" maxlength="50" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')">
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="BranchPostVM.CrCasBranchPostArStreet" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="street-name-en"
                                                               class="form-label">
                                                            @localizer["StreetNameEn"]
                                                        </label>
                                                        <input type="text" id="street-name-en"
                                                               class="form-control inputs english-input"
                                                               asp-for="BranchPostVM.CrCasBranchPostEnStreet" maxlength="50" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="BranchPostVM.CrCasBranchPostEnStreet" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label for="District-name-ar"
                                                               class="form-label">@localizer["DistrictNameAr"]</label>
                                                        <input type="text" id="District-name-ar"
                                                               class="form-control inputs arabic-input"
                                                               asp-for="BranchPostVM.CrCasBranchPostArDistrict" maxlength="50" oninput="this.value=this.value.replace(/[^\u0600-\u06FF\ufb50-\ufdff\ufe70-\ufeff\s]/g, '')">
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="BranchPostVM.CrCasBranchPostArDistrict" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="District-name-en"
                                                               class="form-label">
                                                            @localizer["DistrictNameEn"]
                                                        </label>
                                                        <input type="text" id="District-name-en"
                                                               class="form-control inputs english-input"
                                                               asp-for="BranchPostVM.CrCasBranchPostEnDistrict" maxlength="50" oninput="this.value = this.value.replace(/[^a-zA-Z ]/g, '')">
                                                        <div class="invaild">
                                                            <div class="invalid-feedback">
                                                                <span asp-validation-for="BranchPostVM.CrCasBranchPostEnDistrict" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="Building-number"
                                                                       class="form-label">
                                                                    @localizer["BulidingNumber"]
                                                                </label>
                                                                <input type="text"
                                                                       id="Building-number"
                                                                       class="form-control inputs text-center"
                                                                       asp-for="BranchPostVM.CrCasBranchPostBuilding" maxlength="7" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                                                <div class="invaild">
                                                                    <div class="invalid-feedback">
                                                                        <span asp-validation-for="BranchPostVM.CrCasBranchPostBuilding" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="Unit-number"
                                                                       class="form-label">
                                                                    @localizer["UnitNumber"]
                                                                </label>
                                                                <input type="text" id="Unit-number"
                                                                       class="form-control inputs text-center"
                                                                       asp-for="BranchPostVM.CrCasBranchPostUnitNo" maxlength="7" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                                                <div class="invaild">
                                                                    <div class="invalid-feedback">
                                                                        <span asp-validation-for="BranchPostVM.CrCasBranchPostUnitNo" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="zip-code"
                                                                       class="form-label">
                                                                    @localizer["symbolMailAr"]
                                                                </label>
                                                                <input type="text" id="zip-code"
                                                                       class="form-control inputs text-center"
                                                                       asp-for="BranchPostVM.CrCasBranchPostZipCode" maxlength="7" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                                                <div class="invaild">
                                                                    <div class="invalid-feedback">
                                                                        <span asp-validation-for="BranchPostVM.CrCasBranchPostZipCode" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="Additional-number"
                                                                       class="form-label">
                                                                    @localizer["AdditionalNumber"]
                                                                </label>
                                                                <input type="text"
                                                                       id="Additional-number"
                                                                       class="form-control inputs text-center"
                                                                       asp-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" maxlength="7" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
                                                                <div class="invaild">
                                                                    <div class="invalid-feedback">
                                                                        <span asp-validation-for="BranchPostVM.CrCasBranchPostAdditionalNumbers" class="text-danger"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </main>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="signature-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
        <div class="modal-content signature-modal-content p-3">
            <div class="modal-body Signature-modal-body">
                <div class="SignatureCard">
                    <div class="image-main-container" id="removeSignatureImg"></div>
                    <div class="upload-container">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/save.svg" class="w-100" id="save">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Frame.svg" class="w-100" id="clear">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/file-signature_9795523 1.svg"
                                 class="w-100" id="WriteSignature">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="sinature-Btn-Card p-2">
                            <img src="~/CasSys/images/signature/Pic.svg" class="w-100"
                                 id="UploadSigntaurePic">
                            <input type="file" id="imageUpload" accept="image/*"
                                   style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/CasSys/scripts/Signature.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script>
        const cities = @Html.Raw(Json.Serialize(ViewData["Cities"]));

        const dataLists = {
            Cities: cities,
        };
        var listsIsTrueOrNotBranch = true;
        console.log("dataLists",dataLists)
        $(document).ready(function () {
            // function setupAutocomplete(inputId, list, dataList) {
            //     $("#" + inputId).on("input", function () {
            //         const value = this.value.toLowerCase();
            //         const autocompleteList = $("#" + list);
            //         autocompleteList.empty();
            //         if (value) {
            //             let matchesFound = false;
            //             dataList.forEach(word => {
            //                 if (word.toLowerCase().indexOf(value) > -1) {
            //                     autocompleteList.append("<div>" + word + "</div>");
            //                     matchesFound = true;
            //                 }
            //             });

            //             if (matchesFound) {
            //                 autocompleteList.show();
            //             } else {
            //                 autocompleteList.hide();
            //             }
            //         } else {
            //             autocompleteList.hide();
            //         }
            //     });

            //     $(document).on("click", "#" + list + " div", function () {
            //         $("#" + inputId).val($(this).text());
            //         console.log(inputId)
            //         $("#" + list).empty();
            //         $("#" + list).hide();
            //     });

            //     $(document).click(function (e) {
            //         if (!$(e.target).closest("#" + list + "#" + inputId).length) {
            //             $("#" + list).empty();
            //             $("#" + list).hide();
            //         }
            //     });
            // }
            function setupAutocomplete(inputId, list, dataList, errorElementId, listsIsTrueOrNot, validate) {
                $("#" + inputId).on("input", function () {
                    const value = this.value.toLowerCase();
                    const autocompleteList = $("#" + list);
                    autocompleteList.empty();
                    console.log("value",value);
                    if (validate) {
                        // Clear the code input and error message whenever the user types
                        $("#" + inputId + "-code").val('');
                        $("#" + errorElementId).text(''); // Clear any previous error message
                    }

                    if (value) {
                        let matchesFound = false;
                        dataList.forEach(item => {
                            const text = item.text;  // عرض النص بناءً على اللغة
                            if (text.toLowerCase().includes(value)) {
                                autocompleteList.append("<div data-value='" + item.value + "'>" + text + "</div>");
                                matchesFound = true;
                            }
                        });

                        autocompleteList.toggle(matchesFound);
                    } else {
                        autocompleteList.hide();
                    }
                });

                   $(document).on("click", "#" + list + " div", function () {
                    const selectedText = $(this).text();
                    const selectedValue = $(this).data("value");
                     console.log("Selected text:", selectedText);
                     console.log("Selected value:", selectedValue);
                    $("#" + inputId).val(selectedText);
                    $("#" + inputId + "-code").val(selectedValue);
                    const matchedItemFromChose = dataList.find(item => item.text === selectedText || item.text === selectedText);

                    if (validate) {
                        if (matchedItemFromChose) {
                            $("#" + inputId + "-code").val(matchedItemFromChose.value);
                            $("#" + errorElementId).text('');
                            window[listsIsTrueOrNot] = true;
                        } else {
                            $("#" + errorElementId).text("@localizer["requiredFiled"]");
                            $("#" + inputId + "-code").val("");
                            window[listsIsTrueOrNot] = false;
                        }
                    }

                    $("#" + list).empty().hide();
                });

                $(document).click(function (e) {
                    if (!$(e.target).closest("#" + list + ", #" + inputId).length) {
                        $("#" + list).empty().hide();
                    }
                });

                if (validate) {
                    // Check for match on blur or Enter key press
                    $("#" + inputId).on("blur keypress", function (e) {
                        if (e.type === "blur" || (e.type === "keypress" && e.which === 13)) {
                            const inputValue = $(this).val();
                            const matchedItem = dataList.find(item => item.text === inputValue);

                            if (matchedItem) {
                                $("#" + inputId + "-code").val(matchedItem.value);
                                $("#" + errorElementId).text(''); // Clear error message
                                window[listsIsTrueOrNot] = true; // Update the global flag
                            } else {
                                $("#" + errorElementId).text("@localizer["requiredFiled"]"); // Show error message
                                window[listsIsTrueOrNot] = false; // Update the global flag
                            }
                        }
                    });
                }
            };
            // setupAutocomplete("City-Area", "autocomplete-Cities", dataLists.Cities);
            setupAutocomplete("City-Area", "autocomplete-Cities", dataLists.Cities, "Region-city-tenant-error", "listsIsTrueOrNotBranch", true);

        });
    </script>
}