@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.Owners
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer localizer
@model OwnersLayoutVM
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<!-- Content Row -->
<div class="row text-end ">
    <div class="container-fluid">
        <div class="row text-end  ">
            <div class="col-xl-4">
                <div class="card  mb-5">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveBranches"] </h5>
                        <hr class="card-hr">

                    </div>
                    <div class="card-body">
                        @{
                            int indexBranch = 0;  // Initialize index variable
                        }
                        @foreach (var item in Model.BranchStaticitis)
                        {
                            indexBranch++;  // Initialize index variable

                            <div style="margin-bottom: 1.4rem !important;">
                                <h4 class="small font-weight-bold progress-rate"> @item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <span>
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="progress">
                                            <div class="progress-bar progress@(indexBranch)" role="progressbar"
                                                 style="width: @item.Percent.ToString("N2",CultureInfo.InvariantCulture)%" aria-valuenow="@item.Percent.ToString("N2",CultureInfo.InvariantCulture)"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-2">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveContractValue"] </h5>
                        <hr class="card-hr">

                    </div>

                    <div class="card-body">
                        <div class="row">
                            @{
                                var indexAmountValue = 0;
                                var idAmountValue = "";
                                var popularChartsDivAmountValue = "";
                                foreach (var item in Model.AmountValueStaticitis)
                                {
                                    if (indexAmountValue == 0) idAmountValue = "First_AmountValue_Charts";
                                    else if (indexAmountValue == 1)
                                    {
                                        idAmountValue = "Second_AmountValue_Charts";
                                        popularChartsDivAmountValue = "popularCharts_div";
                                    }
                                    else if (indexAmountValue == 2) idAmountValue = "Third_AmountValue_Charts";
                                    <div class="col-sm-4  m-0 @popularChartsDivAmountValue">
                                        <p class="text-center">
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </p>
                                        <div id="@idAmountValue"></div>
                                        <p class="text-center m-0">@item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</p>
                                    </div>
                                    indexAmountValue++;
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card  mb-2">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveDistance"] </h5>
                        <hr class="card-hr">

                    </div>

                    <div class="card-body">
                        <div class="row">
                            @{
                                var indexDistanceKM = 0;
                                var idDistanceKM = "";
                                var popularChartsDivDistanceKM = "";
                                foreach (var item in Model.DistanceKMStaticitis)
                                {
                                    if (indexDistanceKM == 0) idDistanceKM = "First_DistanceKM_Charts";
                                    else if (indexDistanceKM == 1)
                                    {
                                        idDistanceKM = "Second_DistanceKM_Charts";
                                        popularChartsDivDistanceKM = "popularCharts_div";
                                    }
                                    else if (indexDistanceKM == 2) idDistanceKM = "Third_DistanceKM_Charts";
                                    <div class="col-sm-4  m-0 @popularChartsDivDistanceKM">
                                        <p class="text-center">
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </p>
                                        <div id="@idDistanceKM"></div>
                                        <p class="text-center m-0">@item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</p>
                                    </div>
                                    indexDistanceKM++;
                                }
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row  text-end  ">
    <div class="container-fluid">
        <div class="row  text-end ">
            <div class="col-xl-4">
                <div class="card  mb-5">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveDays"]</h5>
                        <hr class="card-hr">

                    </div>
                    <div class="card-body">
                        @{
                            int indexDays = 0;  // Initialize index variable
                        }
                        @foreach (var item in Model.DaysStaticitis)
                        {
                            indexDays++;  // Initialize index variable

                            <div style="margin-bottom: 1.4rem !important;">
                                <h4 class="small font-weight-bold progress-rate"> @item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <span>
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="progress">
                                            <div class="progress-bar progress@(indexDays)" role="progressbar"
                                                 style="width: @item.Percent.ToString("N2",CultureInfo.InvariantCulture)%" aria-valuenow="@item.Percent.ToString("N2",CultureInfo.InvariantCulture)"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card  mb-5">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveTime"] </h5>
                        <hr class="card-hr">

                    </div>
                    <div class="card-body">
                        @{
                            int indexTime = 0;  // Initialize index variable
                        }
                        @foreach (var item in Model.TimeStaticitis)
                        {
                            indexTime++;  // Initialize index variable

                            <div style="margin-bottom: 1.4rem !important;">
                                <h4 class="small font-weight-bold progress-rate"> @item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</h4>
                                <div class="row">
                                    <div class="col-auto">
                                        <span>
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="progress">
                                            <div class="progress-bar progress@(indexTime)" role="progressbar"
                                                 style="width: @item.Percent.ToString("N2",CultureInfo.InvariantCulture)%" aria-valuenow="@item.Percent.ToString("N2",CultureInfo.InvariantCulture)"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-2">
                    <div class="card-header py-1">
                        <h5 class="m-0 font-weight-bold "> @localizer["MostActiveDaysCount"] </h5>
                        <hr class="card-hr">

                    </div>

                    <div class="card-body">
                        <div class="row">
                            @{
                                var indexDaysCount = 0;
                                var idDaysCount = "";
                                var popularChartsDivDaysCount = "";
                                foreach (var item in Model.DaysCountStaticitis)
                                {
                                    if (indexDaysCount == 0) idDaysCount = "First_DaysCount_Charts";
                                    else if (indexDaysCount == 1)
                                    {
                                        idDaysCount = "Second_DaysCount_Charts";
                                        popularChartsDivDaysCount = "popularCharts_div";
                                    }
                                    else if (indexDaysCount == 2) idDaysCount = "Third_DaysCount_Charts";
                                    <div class="col-sm-4  m-0 @popularChartsDivDaysCount">
                                        <p class="text-center">
                                            @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                            {
                                                @item.ArName
                                            }
                                            else
                                            {
                                                @item.EnName
                                            }
                                        </p>
                                        <div id="@idDaysCount"></div>
                                        <p class="text-center m-0">@item.Percent.ToString("N2", CultureInfo.InvariantCulture)%</p>
                                    </div>
                                    indexDaysCount++;
                                }
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            /////////////////////////////////AmountValue////////////////////////
            var AmountValueModel = @Html.Raw(Json.Serialize(Model.AmountValueStaticitis));
            for (var i = 0; i < AmountValueModel.length; i++) {
                var positionAmountValue = "";
                var colorAmountValue = "";
                if (i == 0) {
                    positionAmountValue = "First_AmountValue_Charts";
                    colorAmountValue = "#9747FF";
                }
                else if (i == 1) {
                    positionAmountValue = "Second_AmountValue_Charts";
                    colorAmountValue = "#FF9F40";
                }
                else if (i == 2) {
                    positionAmountValue = "Third_AmountValue_Charts";
                    colorAmountValue = "#4BC0C0";
                }
                var AmountValue = AmountValueModel[i];
                console.log("AmountValue", AmountValue);
                // First_AmountValue_Charts ///////////////////////////////////////////////////////////////////////
                var palette = anychart.palettes.distinctColors();
                var percentage = AmountValue.percent; // Define the percentage value
                var label = anychart.standalones.label();
                label.useHtml(true).text('<span style = "color: #313136; font-weight:600">' + '</span>').position('center').anchor('center').hAlign('center').vAlign('middle');
                var data;
                if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                    data = anychart.data.set([
                        [AmountValue.enName, AmountValue.percent],
                        [' اخري', 100 - AmountValue.percent]
                    ]);
                }
                else {
                    data = anychart.data.set([
                        [AmountValue.arName, AmountValue.percent],
                        [' Others', 100 - AmountValue.percent]
                    ]);
                }

                // set the colors according to the brands
                palette.items([
                    { color: colorAmountValue },
                    { color: '#CCC' },
                ]);

                // apply the donut chart color palette
                // create a pie chart with the data
                var chart = anychart.pie(data)
                // set the chart radius making a donut chart
                chart.palette(palette);
                chart.innerRadius('80%');
                chart.container(positionAmountValue);
                chart.legend(false);
                chart.labels(false)
                chart.tooltip(false)
                chart.center().content(label);
                chart.draw();
            }
            /////////////////////////////////DaysCount////////////////////////
            var DaysCountModel = @Html.Raw(Json.Serialize(Model.DaysCountStaticitis));
            for (var i = 0; i < DaysCountModel.length; i++) {
                var positionDaysCount = "";
                var colorDaysCount = "";
                if (i == 0) {
                    positionDaysCount = "First_DaysCount_Charts";
                    colorDaysCount = "#9747FF";
                }
                else if (i == 1) {
                    positionDaysCount = "Second_DaysCount_Charts";
                    colorDaysCount = "#FF9F40";
                }
                else if (i == 2) {
                    positionDaysCount = "Third_DaysCount_Charts";
                    colorDaysCount = "#4BC0C0";
                }
                var DaysCount = DaysCountModel[i];
                console.log("DaysCount", DaysCount);
                // First_DaysCount_Charts ///////////////////////////////////////////////////////////////////////
                var palette = anychart.palettes.distinctColors();
                var percentage = DaysCount.percent; // Define the percentage value
                var label = anychart.standalones.label();
                label.useHtml(true).text('<span style = "color: #313136; font-weight:600">' + '</span>').position('center').anchor('center').hAlign('center').vAlign('middle');
                var data;
                if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                    data = anychart.data.set([
                        [DaysCount.enName, DaysCount.percent],
                        [' اخري', 100 - DaysCount.percent]
                    ]);
                }
                else {
                    data = anychart.data.set([
                        [DaysCount.arName, DaysCount.percent],
                        [' Others', 100 - DaysCount.percent]
                    ]);
                }

                // set the colors according to the brands
                palette.items([
                    { color: colorDaysCount },
                    { color: '#CCC' },
                ]);

                // apply the donut chart color palette
                // create a pie chart with the data
                var chart = anychart.pie(data)
                // set the chart radius making a donut chart
                chart.palette(palette);
                chart.innerRadius('80%');
                chart.container(positionDaysCount);
                chart.legend(false);
                chart.labels(false)
                chart.tooltip(false)
                chart.center().content(label);
                chart.draw();
            }
            /////////////////////////////////DistanceKM////////////////////////
            var DistanceKMModel = @Html.Raw(Json.Serialize(Model.DistanceKMStaticitis));
            for (var i = 0; i < DistanceKMModel.length; i++) {
                var positionDistanceKM = "";
                var colorDistanceKM = "";
                if (i == 0) {
                    positionDistanceKM = "First_DistanceKM_Charts";
                    colorDistanceKM = "#9747FF";
                }
                else if (i == 1) {
                    positionDistanceKM = "Second_DistanceKM_Charts";
                    colorDistanceKM = "#FF9F40";
                }
                else if (i == 2) {
                    positionDistanceKM = "Third_DistanceKM_Charts";
                    colorDistanceKM = "#4BC0C0";
                }
                var DistanceKM = DistanceKMModel[i];
                console.log("DistanceKM", DistanceKM);
                // First_DistanceKM_Charts ///////////////////////////////////////////////////////////////////////
                var palette = anychart.palettes.distinctColors();
                var percentage = DistanceKM.percent; // Define the percentage value
                var label = anychart.standalones.label();
                label.useHtml(true).text('<span style = "color: #313136; font-weight:600">' + '</span>').position('center').anchor('center').hAlign('center').vAlign('middle');
                var data;
                if ('@requestCulture?.RequestCulture.UICulture.Name' == "en-US") {
                    data = anychart.data.set([
                        [DistanceKM.enName, DistanceKM.percent],
                        [' اخري', 100 - DistanceKM.percent]
                    ]);
                }
                else {
                    data = anychart.data.set([
                        [DistanceKM.arName, DistanceKM.percent],
                        [' Others', 100 - DistanceKM.percent]
                    ]);
                }

                // set the colors according to the brands
                palette.items([
                    { color: colorDistanceKM },
                    { color: '#CCC' },
                ]);

                // apply the donut chart color palette
                // create a pie chart with the data
                var chart = anychart.pie(data)
                // set the chart radius making a donut chart
                chart.palette(palette);
                chart.innerRadius('80%');
                chart.container(positionDistanceKM);
                chart.legend(false);
                chart.labels(false)
                chart.tooltip(false)
                chart.center().content(label);
                chart.draw();
            }
        });

    </script>
}
