@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.Owners
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Http.Features;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@model OwnersLayoutVM
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<!-- Content Row -->
<div class="row tables-row g-5 mb-5">
    <div class="container-fluid">
        <div class="row mt-3  g-5 ">

            <div class="col-xl-6">
                <div class="table-card bg-white pt-3 Branches-table-card ">
                    <h3 class="mb-3 pe-2"> @localizer["Contracts"] </h3>
                    <div class="scrollTable scrollTable_Branches  mx-3">
                        <table class="spacing-table table-borderless">
                            <thead class="sticky-top pb-1">
                                <tr>
                                    <th scope="col" style="text-align: center;"> @localizer["Active"]</th>
                                    <th scope="col" style="text-align: center;"> @localizer["Closed"]</th>
                                    <th scope="col" style="text-align: center;"> @localizer["Executed"] </th>
                                    <th scope="col">@localizer["Branch"]</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.BranchsInformations)
                                {
                                    <tr>
                                        <td style="text-align: center;">@item.CrCasRenterContractBasics.Where(x => x.CrCasRenterContractBasicStatus != Status.Closed).Count()</td>
                                        <td style="text-align: center;">@item.CrCasRenterContractBasics.Where(x => x.CrCasRenterContractBasicStatus == Status.Closed).Count()</td>
                                        <td style="text-align: center;">@item.CrCasRenterContractBasics.Count()</td>
                                        <td>
                                            <div class="row">
                                                @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                                {
                                                    <div class="col-12 mb-2 Branche_Name">
                                                        @item.CrCasBranchInformationArShortName
                                                    </div>
                                                    <div class="col-12">
                                                        <span> @item.CrCasBranchInformationDirectorArName </span>
                                                        -
                                                        <span>@item.CrCasBranchPost?.CrCasBranchPostCityNavigation?.CrMasSupPostCityArName</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12 mb-2 Branche_Name">
                                                        @item.CrCasBranchInformationEnShortName
                                                    </div>
                                                    <div class="col-12">
                                                        <span> @item.CrCasBranchInformationDirectorEnName </span>
                                                        -
                                                        <span>@item.CrCasBranchPost?.CrCasBranchPostCityNavigation?.CrMasSupPostCityEnName</span>
                                                    </div>
                                                }

                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-xl-6">
                <div class="table-card bg-white pt-3 Branches-table-card ">
                    <h3 class="mb-3 pe-2"> @localizer["Cars"] </h3>
                    <div class="scrollTable scrollTable_Branches  mx-3">
                        <table class="spacing-table table-borderless">
                            <thead class="sticky-top pb-1">
                                <tr>
                                    <th scope="col" style="text-align: center;"> @localizer["UnAvaliable"]</th>
                                    <th scope="col" style="text-align: center;"> @localizer["Avaliable"]</th>
                                    <th scope="col" style="text-align: center;"> @localizer["Rented"]</th>
                                    <th scope="col" style="text-align: center;"> @localizer["CarsTotal"] </th>
                                    <th scope="col">@localizer["Branch"]</th>
                                </tr>
                            </thead>

                            <tbody>

                               @foreach (var item in Model.BranchsInformations)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            @item.CrCasCarInformations.Where(x => x.CrCasCarInformationStatus == Status.Hold ||
                                                                                x.CrCasCarInformationStatus == Status.Maintaince || x.CrCasCarInformationPriceStatus == false ||
                                                                                x.CrCasCarInformationBranchStatus != Status.Active || x.CrCasCarInformationOwnerStatus != Status.Active ||
                                                                               (x.CrCasCarInformationStatus == Status.Active && x.CrCasCarInformationForSaleStatus == Status.ForSale)).Count()
                                        </td>
                                        <td style="text-align: center;">
                                            @item.CrCasCarInformations.Where(x => x.CrCasCarInformationStatus == Status.Active &&
                                                                                x.CrCasCarInformationPriceStatus == true && x.CrCasCarInformationBranchStatus == Status.Active &&
                                                                                x.CrCasCarInformationOwnerStatus == Status.Active &&
                                                                               (x.CrCasCarInformationForSaleStatus == Status.Active || x.CrCasCarInformationForSaleStatus == Status.RendAndForSale)).Count()
                                        </td style="text-align: center;">
                                        <td style="text-align: center;">
                                            @item.CrCasCarInformations.Where(x => x.CrCasCarInformationStatus == Status.Rented).Count()
                                        </td>
                                        <td style="text-align: center;">@item.CrCasCarInformations.Count()</td>

                                        <td>
                                            <div class="row">
                                                @if (requestCulture?.RequestCulture.UICulture.Name != "en-US")
                                                {
                                                    <div class="col-12 mb-2 Branche_Name">
                                                        @item.CrCasBranchInformationArShortName
                                                    </div>
                                                    <div class="col-12">
                                                        <span> @item.CrCasBranchInformationDirectorArName </span>
                                                        -
                                                        <span>@item.CrCasBranchPost?.CrCasBranchPostCityNavigation?.CrMasSupPostCityArName</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12 mb-2 Branche_Name">
                                                        @item.CrCasBranchInformationEnShortName
                                                    </div>
                                                    <div class="col-12">
                                                        <span> @item.CrCasBranchInformationDirectorEnName </span>
                                                        -
                                                        <span>@item.CrCasBranchPost?.CrCasBranchPostCityNavigation?.CrMasSupPostCityEnName</span>
                                                    </div>
                                                }

                                            </div>
                                        </td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>