

@using Bnan.Core.Extensions
@using Bnan.Ui.ViewModels.CAS;
@model ReportActiveContractVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{
    @*Mazen- For Scrolling*@
    @*
<style >
        .container-scrol {
            overflow: scroll;
            height: 180px;
            width: 900px;
        }

        table {
            border-collapse: collapse;
        }

            table th,
            table td {
                max-width: 600px;
                padding: 8px 16px;
                border: 1px solid #ddd;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            table thead {
                position: sticky;
                inset-block-start: 0;
                background-color: #ddd;
            }
</style>
    <div class="container-scrol">
        <table class="table table-hover" >*@

     <div class="col-sm-12"> 
        @* For-scrolling *@

        <table id="basic-datatable" class="table table-bordered dt-responsive w-100 nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
                <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Branch"]</th>*@
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_StartDate"]</th>*@
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_EndDate_actuly_new"]</th>*@
                    <th aria-label="Position: activate to sort column ascending">@localizer["SettlementDate"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_DayCount"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Actuly_Value"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_expenses"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_compensation"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["NetContract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Paid_value"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Remain_value"]</th>
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_User_proceduer"]</th>*@
                    <th id="_Nc" data-orderable="false">@localizer["Closed_contract_Invoice"]</th>
                    <th id="_Nc" data-orderable="false">@localizer["Contract"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasic)

                {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    <tr id="Tr_Color" >
                        @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                        <td id="_Nc">@no</td>
                        @if (item.CrCasRenterContractBasicCopy > 0)
                        {
                            <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                        }
                        else
                        {
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                        }
                        @*<td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationEnShortName</td>*@
                        @*<td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy - HH:mm",CultureInfo.InvariantCulture)</td>*@
                        <td>@item.CrCasRenterContractBasicActualCloseDateTime?.ToString("dd/MM/yyyy - HH:mm",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N0",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicActualTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicExpensesValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicCompensationValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">
                            @{
                                var AmountRequired = item.CrCasRenterContractBasicActualTotal - item.CrCasRenterContractBasicExpensesValue + item.CrCasRenterContractBasicCompensationValue;
                                var AmountPaid = item.CrCasRenterContractBasicAmountPaidAdvance + item.CrCasRenterContractBasicAmountPaid;
                                var remain = AmountRequired - AmountPaid;
                            }
                            @AmountRequired?.ToString("N2",CultureInfo.InvariantCulture)
                        </td>
                        <td id="_Nc">@AmountPaid?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@remain?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        @*<td>@Model?.All_users?.Where(x=>x.Item1 == item.CrCasRenterContractBasicUserInsert)?.FirstOrDefault().Item3</td>*@

                        @{

                            var Link_pdf_invoice = Model?.All_Invoices?.Where(x => x.Item1 == item.CrCasRenterContractBasicNo)?.FirstOrDefault().Item3;
                            var Target_pdf_invoice = "#";
                            if (Link_pdf_invoice?.Count() > 2)
                            {
                                Link_pdf_invoice = Link_pdf_invoice.Replace("~", "");
                                Target_pdf_invoice = "_blank";
                            }
                            var Link_pdf_contract = item.CrCasRenterContractBasicEnPdfFile;
                            var Target_pdf_contract = "#";
                            if (Link_pdf_contract?.Count() > 2)
                            {
                                Link_pdf_contract = Link_pdf_contract.Replace("~", "");
                                Target_pdf_contract = "_blank";
                            }
                        }
                        <td id="_Nc">
                            <a href="@Link_pdf_invoice" target="@Target_pdf_invoice" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                        </td>
                        <td id="_Nc">
                            <a href="@Link_pdf_contract" target="@Target_pdf_contract" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                        </td>

                    </tr>

                    no++;
                }
            </tbody>
        </table>
            @* </div> *@
        @* </div> *@
     </div> 
}
else
{

    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive w-100 nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Branch"]</th>*@
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_StartDate"]</th>*@
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_EndDate_actuly_new"]</th>*@
                    <th aria-label="Position: activate to sort column ascending">@localizer["SettlementDate"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_DayCount"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Actuly_Value"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_expenses"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_compensation"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["NetContract"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Paid_value"]</th>
                    <th id="_Nc" aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_Remain_value"]</th>
                    @*<th aria-label="Position: activate to sort column ascending">@localizer["Closed_contract_User_proceduer"]</th>*@
                    <th id="_Nc" data-orderable="false">@localizer["Closed_contract_Invoice"]</th>
                    <th id="_Nc" data-orderable="false">@localizer["Contract"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.crCasRenterContractBasic)

                {
                    @* <tr onclick="location.href='@Url.Action("Edit", "UserLogin", new { id = item.CrMasUserLoginsCode })'" style="cursor:pointer;color:red"> *@
                    <tr id="Tr_Color" >
                        @* <td id="_Nc">@item.CrMasUserLoginNo</td> *@
                        <td id="_Nc">@no</td>
                        @if (item.CrCasRenterContractBasicCopy > 0)
                        {
                            <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                        }
                        else
                        {
                            <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                        }
                        @*<td>@item.CrCasRenterContractBasic1?.CrCasBranchInformationArShortName</td>*@
                        @*<td>@item.CrCasRenterContractBasicExpectedStartDate?.ToString("yyyy/MM/dd - HH:mm",CultureInfo.InvariantCulture)</td>*@
                        <td>@item.CrCasRenterContractBasicActualCloseDateTime?.ToString("yyyy/MM/dd - HH:mm",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N0",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicActualTotal?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicExpensesValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@item.CrCasRenterContractBasicCompensationValue?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">
                            @{
                                var AmountRequired = item.CrCasRenterContractBasicActualTotal - item.CrCasRenterContractBasicExpensesValue + item.CrCasRenterContractBasicCompensationValue;
                                var AmountPaid = item.CrCasRenterContractBasicAmountPaidAdvance + item.CrCasRenterContractBasicAmountPaid;
                                var remain = AmountRequired - AmountPaid;

                            }
                            @AmountRequired?.ToString("N2",CultureInfo.InvariantCulture)
                            </td>
                        <td id="_Nc">@AmountPaid?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        <td id="_Nc">@remain?.ToString("N2",CultureInfo.InvariantCulture)</td>
                        @*<td>@Model?.All_users?.Where(x=>x.Item1 == item.CrCasRenterContractBasicUserInsert)?.FirstOrDefault().Item2</td>*@

                        @{

                            var Link_pdf_invoice = Model?.All_Invoices?.Where(x => x.Item1 == item.CrCasRenterContractBasicNo)?.FirstOrDefault().Item2;
                            var Target_pdf_invoice = "#";
                            if (Link_pdf_invoice?.Count() > 2)
                            {
                                Link_pdf_invoice = Link_pdf_invoice.Replace("~", "");
                                Target_pdf_invoice = "_blank";
                            }
                            var Link_pdf_contract = item.CrCasRenterContractBasicArPdfFile;
                            var Target_pdf_contract = "#";
                            if (Link_pdf_contract?.Count() > 2)
                            {
                                Link_pdf_contract = Link_pdf_contract.Replace("~", "");
                                Target_pdf_contract = "_blank";
                            }
                        }
                        <td id="_Nc">
                            <a href="@Link_pdf_invoice" target="@Target_pdf_invoice" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                        </td>
                        <td id="_Nc">
                            <a href="@Link_pdf_contract" target="@Target_pdf_contract" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                        </td>
                    </tr>

                    no++;
                }
            </tbody>
        </table>


    </div>
      
}
