@using Bnan.Core.Extensions
@model IEnumerable<CrCasPriceCarBasic>
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<table class=" tables-style table table-borderless " id="table">
    <thead class="sticky-top">
        <tr>
            <th>@localizer["NoOfCar"]</th>
            <th>@localizer["EndDate"]</th>
            <th>@localizer["StartDate"]</th>
            <th class="DifferAlign">@localizer["Car"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int no = 1;
        }
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("Edit", "CarPrice", new { priceNo = item.CrCasPriceCarBasicNo })'">
                <td>
                    <p>@item.CrCasPriceCarBasicDistributionCodeNavigation?.CrCasCarInformations.Where(x => x.CrCasCarInformationLessor == item.CrCasPriceCarBasicLessorCode).Count()</p>
                </td>
            <td>
                <p>@item.CrCasPriceCarBasicEndDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</p>
            </td>
            <td>
                <p>@item.CrCasPriceCarBasicStartDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</p>
            </td>
            <td class="DifferAlign car-name">
                <div class="d-flex gap-2 align-items-center">
                    <div class="col">
                            <p class="FirstLineP">
                                @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ? item.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionConcatenateEnName : item.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionConcatenateArName)
                            </p>
                        <p class="secondLineP">@item.CrCasPriceCarBasicDate?.ToString("yyyy/MM/dd",CultureInfo.InvariantCulture)</p>
                    </div>
                    <div class="col-auto d-flex justify-content-end">
                        <div class="CarBorder">
                            <img src="@Url.Content(item.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionImage)"
                              alt="Car-photo"  class="CarPhoto border-0 w-100 h-100" >
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="filter-number-td">
                        @{
                            var filterColor = "";
                            if (item.CrCasPriceCarBasicStatus == Status.Active) filterColor = "filter2-div";
                            else if (item.CrCasPriceCarBasicStatus == Status.AboutToExpire) filterColor = "filter1-div";
                            else if (item.CrCasPriceCarBasicStatus == Status.Expire) filterColor = "filter3-div";
                            else if (item.CrCasPriceCarBasicStatus == Status.Deleted) filterColor = "filter5-div";
                        }
                        <div class="filters @filterColor"></div>
                        <div>@no</div>
                   
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>