@using Bnan.Core.Extensions;
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@model IEnumerable<CrCasPriceCarBasic>

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div class="col d-flex align-items-center justify-content-center">
    <div class="container main-container">
        <form action="">
            <div class="row g-3 mb-2">
                <div class="col">
                    <h3> @localizer["Prices"] </h3>
                </div>
                <div class="col-12 col-lg-6 d-flex justify-content-end">

                    <div class="col-12 col-md-8 search-input-col">
                        <div class="form-outline w-100" data-mdb-input-init>
                            <span class="fa fa-search"></span>
                            <input type="search" id="search" class="form-control inputs search-input"
                                   name="search" aria-label="Search" autofocus autocomplete="off" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 filters-col">
                    <div class="filters-custom-order">

                        <label class="form-check-label" for="all">@localizer["All"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="all"
                               value="All" checked />
                    </div>

                    <div class="filters-custom-order">

                        <label class="form-check-label filter2" for="Active">@localizer["Active"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="Active"
                               value="A" />
                    </div>

                    <div class="filters-custom-order">

                        <label class="form-check-label  filter1" for="AboutToExpire">@localizer["AboutToExpire"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="AboutToExpire"
                               value="X" />
                    </div>
                    <div class="filters-custom-order">

                        <label class="form-check-label filter3" for="Expire">@localizer["Expire"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="Expire"
                               value="E" />
                    </div>
                    <div class="filters-custom-order">

                        <label class="form-check-label filter5" for="deleted">@localizer["Deleted"]</label>
                        <input class="form-check-input custom" type="radio" name="customRadio" id="deleted"
                               value="D" />
                    </div>

                </div>
            </div>
            
            <div class="row table-row px-3">
                <div class="col  scroll-table-div  table-responsive-sm  w-100  dataTable">
                    <partial name="_DataTableCarsPrice">
                </div>
            </div>
        </form>
        <a href="/CAS/CarPrice/AddPriceCar" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["AddPrice"]" class="new-Page-icon">
            <img src="~/CasSys/images/new price.svg" alt="new Price">
        </a>
        <a href="/CAS/Home/Index" data-bs-toggle="tooltip" data-bs-placement="top"
           data-bs-custom-class="custom-tooltip" data-bs-title="@localizer["BackToHome"]"
           class="main-page-icon"><img src="~/CasSys/images/back to main.svg" alt="man"></a>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("input[name='customRadio'][value='" + '@ViewBag.radio' + "']").prop("checked", true);
        });
        ///////
    </script>
    <script>
        // To Handle Background
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        //get AccountBank By Status function
        function GetCarPriceFitler(status, search) {
            $.ajax({
                type: "GET",
                data: {
                    status: status, search: search
                },
                url: "@Url.Action("CarPriceByStatus", "CarPrice", new { Area = "CAS" })",
                success: function (response) {
                    $(".dataTable").html(response);
                },
            })
        }

        $("input[name='customRadio']").on("click", function () {
            const status = $(this).val();
            const search = $("#search").val(); // الحصول على قيمة البحث
            GetCarPriceFitler(status, search);
        });

        // عند كتابة أي شيء في حقل البحث، تحديث الفلتر
        $("#search").on("keyup", function () {
            const status = $("input[name='customRadio']:checked").val(); // الحصول على القيمة المحددة من الراديو
            const search = $(this).val(); // الحصول على قيمة البحث
            GetCarPriceFitler(status, search);
        });
    </script>
   
    }
