@using Bnan.Core.Extensions;
@using Bnan.Ui.ViewModels.CAS
@model Bnan.Ui.ViewModels.CAS.CarPriceVM
@inject IViewLocalizer localizer

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<div class="col  d-flex align-items-center justify-content-center flex-column">
    <div class="container NewUpdate-container">
        <div class="row justify-content-center CarPagesRow">
            <div class="col-lg-11">
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <h3>@localizer["PriceCarInfo"]</h3>
                    </div>
                    <div class="col-md-6 save-col">
                        @if(Model.CrCasPriceCarBasicStatus!=Status.Deleted){
                            <button type="button" class="custom-img-btn" id="DeleteBtn" data-bs-toggle="modal" data-bs-target="#Delete-Modal">
                                <img id="modalIcon" src="~/CasSys/images/delete (2).svg" />
                            </button>
                        }
                       
                        <button type="button" class="custom-img-btn"><a class="d-flex align-items-center" href="/CAS/CarPrice/CarPrice"><img class="Chevron" src="~/CasSys/images/Chevron_Left.svg" /></a></button>
                    </div>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-md-auto">
                                <div class="CarBorder">
                                    <input type="hidden" asp-for="CrCasPriceCarBasicNo" />
                                    <img src="@Url.Content(Model.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionImage)" alt="Car-photo" class="CarPhoto border-0 w-100 h-100">
                                    @{
                                        var filterColor = "";
                                        if (Model.CrCasPriceCarBasicStatus == Status.Active) filterColor = "filter2-div";
                                        else if (Model.CrCasPriceCarBasicStatus == Status.AboutToExpire) filterColor = "filter1-div";
                                        else if (Model.CrCasPriceCarBasicStatus == Status.Expire) filterColor = "filter3-div";
                                        else if (Model.CrCasPriceCarBasicStatus == Status.Deleted) filterColor = "filter5-div";
                                    }
                                    <div class="Carstatue @filterColor"></div>
                                </div>
                            </div>
                            <div class="col">
                                <h5 class="subtitle">
                                    @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                        Model.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionConcatenateEnName :
                                        Model.CrCasPriceCarBasicDistributionCodeNavigation?.CrMasSupCarDistributionConcatenateArName)
                                </h5>
                                <div class="row">
                                    <div class="col-auto">
                                        <p class="m-0">@Model.CrCasPriceCarBasicStartDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="m-0">@Model.CrCasPriceCarBasicEndDate?.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex gap-3  mt-3">
                                <p class="CarsCountTitle">@localizer["NumberOfCars"]</p> <p class="CarsCount">@ViewBag.NoOfCars</p>
                            </div>
                        </div>
                    </div>
                    <di class="col-md-12">
                        <div class="container mt-2">
                            <div class="row g-1">
                                <div class="col-6 col-md-3">
                                    <button class="btn PriceTabsBtn" onclick="showContent(0)"><img src="~/CasSys/images/PriceIcon.svg" style="height: 24px;">@localizer["Price"]</button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <button class="btn PriceTabsBtn" onclick="showContent(1)"><img src="~/CasSys/images/RentTerms.svg"> @localizer["TermsRented"] </button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <button class="btn PriceTabsBtn" onclick="showContent(2)"><img src="~/CasSys/images/PriceOption.svg"> @localizer["Choises"] </button>
                                </div>
                                <div class="col-6 col-md-3">
                                    <button class="btn PriceTabsBtn" onclick="showContent(3)"><img src="~/CasSys/images/PriceAddtions.svg">@localizer["Additionals"]</button>
                                </div>
                            </div>

                            <!-- Content Sections -->
                            <div id="Price-content-display">
                                <!-- Hidden Content Data -->
                                <div id="content-container">
                                    <main>
                                        <div class="row  CarPriceContent ">
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["DailyRent"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicDailyRent?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["WeeklyRent"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicWeeklyRent?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["MonthlyRent"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicMonthlyRent?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["YearlyRent"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicYearlyRent?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["AdditionalKmValue"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicAdditionalKmValue?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["ExtraHourValue"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicExtraHourValue?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["AdditionalDriverValue"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicAdditionalDriverValue?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["PrivateDriverValue"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicPrivateDriverValue?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["InFeesTamm"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarPriceBasicInFeesTamm?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["OutFeesTamm"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasCarPriceBasicOutFeesTamm?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["OtherFees"] </p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">0.00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["TaxRate"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicRentalTaxRate?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["reasons"] </p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicReasons</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </main>
                                    <main style="display: none;">
                                        <div class="row  CarPriceContent">
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["DailyFreeKm"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicNoDailyFreeKm?.ToString("N0", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["FreeAdditionalHours"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicFreeAdditionalHours</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["HourMax"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicHourMax</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["CancelHour"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicCancelHour</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["MinAge"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicMinAge</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["MaxAge"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicMaxAge</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["IsAdditionalDriver"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@ViewBag.CrCasPriceCarBasicIsAdditionalDriver</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["CompensationAccident"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicCompensationAccident?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle">@localizer["CompensationTheft"]</p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicCompensationTheft?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["CompensationDrowning"] </p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicCompensationDrowning?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <p class="DataTitle"> @localizer["CompensationFire"] </p>
                                                    </div>
                                                    <div class="col-auto ">
                                                        <p class="Saved-data">@Model.CrCasPriceCarBasicCompensationFire?.ToString("N2", CultureInfo.InvariantCulture)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </main>
                                    <main style="display: none;">
                                        <div class="row justify-content-center">
                                            <div class="col-md-7 col-lg-6">
                                                <div class="PriceTableContainer">
                                                    <div>
                                                        <table class="table  CarPriceTable">
                                                            <thead>
                                                                <tr>
                                                                    <th> @localizer["No"]</th>
                                                                    <th> @localizer["Choises"] </th>
                                                                    <th> @localizer["Value"] </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    int no1 = 1;
                                                                }
                                                                @if (ViewBag.Options != null || ViewBag.Options == 0)
                                                                {
                                                                    @foreach (var item in ViewBag.Options)
                                                                    {
                                                                        <tr>
                                                                            <td><p>@no1</p></td>
                                                                            <td>
                                                                                <p>
                                                                                    @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                                                                        item.CrCasPriceCarOptionsCodeNavigation.CrMasSupContractOptionsEnName :
                                                                                        item.CrCasPriceCarOptionsCodeNavigation.CrMasSupContractOptionsArName)
                                                                                </p>
                                                                            </td>
                                                                            <td><p>@item.CrCasPriceCarOptionsValue?.ToString("N2", CultureInfo.InvariantCulture)</p></td>
                                                                        </tr>
                                                                        no1++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                    <main style="display: none;">
                                        <div class="row justify-content-center">
                                            <div class="col-md-7 col-lg-6">
                                                <div class="PriceTableContainer">
                                                    <div>
                                                        <table class="table  CarPriceTable">
                                                            <thead>
                                                                <tr>
                                                                    <th> @localizer["No"]</th>
                                                                    <th> @localizer["Additionals"] </th>
                                                                    <th> @localizer["Value"] </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    int no2 = 1;
                                                                }
                                                                @if (ViewBag.Additional != null || ViewBag.Additional == 0)
                                                                {
                                                                    @foreach (var item in ViewBag.Additional)
                                                                    {
                                                                        <tr>
                                                                            <td><p>@no2</p></td>
                                                                            <td>
                                                                                <p>
                                                                                    @(requestCulture?.RequestCulture.UICulture.Name == "en-US" ?
                                                                                        item.CrCasPriceCarAdditionalCodeNavigation.CrMasSupContractAdditionalEnName :
                                                                                        item.CrCasPriceCarAdditionalCodeNavigation.CrMasSupContractAdditionalArName)
                                                                                </p>
                                                                            </td>
                                                                            <td><p>@item.CrCasPriceCarAdditionalValue?.ToString("N2", CultureInfo.InvariantCulture)</p></td>
                                                                        </tr>
                                                                        no2++;
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </main>
                                </div>
                            </div>

                            <!-- Navigation Buttons -->
                            <div class="mt-3 d-flex justify-content-between">
                                <button id="prev-btn" class="btn NextPrevBtn" onclick="prevContent()" disabled> <i class="fa-solid fa-chevron-right Chevron"></i>@localizer["Previous"] </button>
                                <button id="next-btn" class="btn NextPrevBtn" onclick="nextContent()">@localizer["Next"] <i class="fa-solid fa-chevron-left Chevron"></i></button>
                            </div>
                        </div>


                    </di>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- delete modal -->
<div class="modal fade" id="Delete-Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="Delete-ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border: 1px solid var(--main-color);">
            <div class="content" id="modalContent">
                <div class="modal-header border-0">
                    <h1 class="modal-title fs-4 m-auto d-flex align-items-start gap-2" id="Delete-ModalLabel">
                        <img src="/CasSys/images/delete (2).svg" /> @localizer["SureTodelete"]
                    </h1>
                </div>
                <div class="modal-body">
                    <p>@localizer["ModalFirstMessage_CarPrice_Delete"]</p>
                    <p>@localizer["ModalSecondMessage_CarPrice_Delete"]</p>
                </div>
                <div class="modal-footer border-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <button type="button" class="btn btn-modal-Save" id="DeleteConfirm" onclick="DeleteLoad()">@localizer["Okay"]</button>
                            </div>
                            <div class="col-md-6 text-center">
                                <button type="button" class="btn btn-Cancel" data-bs-dismiss="modal">@localizer["Cancel"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hidden spinner  -->
            <div class="modal-body text-center" id="spinner" style="display: none;">
                <span class="State-Modal-loader"></span>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#wrapper").addClass("Branches-wrapper");
    </script>
    <script>
        let currentIndex = 0;
        const contents = Array.from(document.querySelectorAll("#content-container main"));
        const tabButtons = document.querySelectorAll(".PriceTabsBtn");

        function showContent(index) {
            if (index < 0 || index >= contents.length) return;
                    currentIndex = index;

                    contents.forEach((content, i) => {
                        content.style.display = i === index ? 'block' : 'none';
            });
            updateButtons();
            updateActiveTab(index);

        }

        function prevContent() {
            if (currentIndex > 0) {
                showContent(currentIndex - 1);
            }
        }

        function nextContent() {
            if (currentIndex < contents.length - 1) {
                showContent(currentIndex + 1);
            }
        }

        function updateButtons() {
            document.getElementById("prev-btn").disabled = currentIndex === 0;
            document.getElementById("next-btn").disabled = currentIndex === contents.length - 1;
        }
        function updateActiveTab(index) {
            tabButtons.forEach((btn, i) => {
                if (i === index) {
                    btn.classList.add("active");
                } else {
                    btn.classList.remove("active");
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            showContent(0);
        });

    </script>
    <script>
        function DeleteLoad() {
                    const modalContent = document.getElementById("modalContent");
                    const spinner = document.getElementById("spinner");
                    const deleteModal = document.getElementById("Delete-Modal");

                    modalContent.style.display = "none";
                    spinner.style.display = "flex";

                    setTimeout(async () => {
                        spinner.style.display = "none";
                        const modal = bootstrap.Modal.getInstance(deleteModal);
                        modal.hide();
                        const success = await DeletePriceCar();
                        if (success) {
                            setTimeout(function () {
                                location.href = '@Url.Action("SuccesssMessageForCarPrice", "CarPrice")';
                            }, 500); // التأخير لمدة .5 ثوانٍ
                        }
                    }, 500);
        }
       
        function DeletePriceCar() {
            var priceNo = document.getElementById("CrCasPriceCarBasicNo").value;
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "POST",
                    url: "/CAS/CarPrice/Delete",
                    data: { priceNo: priceNo },
                    success: function (result) {
                        toastr.options = { "positionClass": "@localizer["toastPostion"]" };

                        if (result == "true") {
                            //@*toastr.success("@localizer["ToastSave"]");*@
                            resolve(true);
                        } else if (result == "false_auth") {
                            toastr.error("@localizer["AuthEmplpoyee_No_auth"]");
                            resolve(false);
                        } else if (result == "udelete") {
                            toastr.error("@localizer["SureTo_Cannot_delete"]");
                            resolve(false);
                        } else {
                            toastr.error("@localizer["ToastFailed"]");
                            resolve(false);
                        }
                    },
                    error: function () {
                        toastr.error("@localizer["ToastFailed"]");
                        resolve(false);
                    }
                });
            });
        }
    </script>
}