@using Bnan.Core.Extensions
@model Bnan.Ui.ViewModels.CAS.RenterContractEditVM
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> options
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["returnUrl"] = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@*
  "RenterInformationCode": "Code",
  "RenterInformationId": "ID",
  "RenterInformationNationality": "Nationality",
  "RenterInformationAddress": "Address",
  "RenterInformationProfession": "Profession",
  "RenterInformationWorkPlace": "Work Place",


 *@
@*<style>

    div.scroll {
        /*        background-color: #fed9ff;
                        width: 600px;*/
        /*height: 150px;*/
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        /*padding: 20px;*/
        position: relative;
        /*overflow: auto;*/
        max-height: 40vh;
        width: 100%;
    }


    th.scroll_1 {
        top: 0px;
        position: sticky;
        background-color: #E4F3F9;
    }


    .scroll::-webkit-scrollbar {
        display: block;
        width: 15px;
        opacity: 0;
    }


    .scroll::-webkit-scrollbar-thumb {
        background-color: gray;
        border-right: none;
        border-left: none;
    }

    .scroll::-webkit-scrollbar-track {
        /*box-shadow: inset 0 0 5px #CBD9DE;*/
        /*border-radius: 2px;*/
        /*background-color:transparent;*/
        background-color: #E4F3F9;
    }

    .scroll::-webkit-scrollbar-track-piece:end {
        background: transparent;
        background-color: lightgray;
        margin-bottom: 0px;
    }

    .scroll::-webkit-scrollbar-track-piece:start {
        background: transparent;
        background-color: lightgray;
        margin-top: 50px;
    }

</style>*@

@if (requestCulture?.RequestCulture.UICulture.Name == "en-US")
{

    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive w-100 nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">

            <thead>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Start_Contract"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["End_Contract"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Days_Count_New"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending"> @localizer["Contract_Value"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["KM_Count_New"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th id="_Nc" class="scroll_1" data-orderable="false">@localizer["The_Invoice_two"]</th>
                    @*<th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["proforma_Invoice_New"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["taxation_Invoice_New"]</th>*@
                    <th id="_Nc" class="scroll_1" data-orderable="false">@localizer["Contract_pdf_New"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }
                @foreach (var item in Model.CrCasRenterContractBasic)
                {
                    var receptInvoice = Model.CrCasAccountInvoice.Find(x => x.CrCasAccountInvoiceReferenceContract == item.CrCasRenterContractBasicNo && x.CrCasAccountInvoiceType == "308");
                    var recepttaxation = Model.CrCasAccountInvoice.Find(x => x.CrCasAccountInvoiceReferenceContract == item.CrCasRenterContractBasicNo && x.CrCasAccountInvoiceType != "308");
                    var km_Active = 0;
                    var km_Not_Active = item.CrCasRenterContractBasicActualCurrentReadingMeter - item.CrCasRenterContractBasicCurrentReadingMeter;
                    @if (item.CrCasRenterContractBasicStatus == @Status.Expire || item.CrCasRenterContractBasicStatus == @Status.Deleted)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy - HH:mm", CultureInfo.InvariantCulture)</td>
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy - HH:mm", CultureInfo.InvariantCulture)</td>

                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicExpectedRentalDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            @*<td id="_Nc">@Model.CasRenterContractVM.CrCasRenterContractStatistics?.Where(x=>x.CrCasRenterContractStatisticsNo==item.CrCasRenterContractBasicNo)?.OrderByDescending(x=>x.CrCasRenterContractStatisticsDate)?.FirstOrDefault()?.CrCasRenterContractStatisicsDays</td>*@

                            <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationPlateEnNo</td>

                            <td id="_Nc">
                                @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2", CultureInfo.InvariantCulture)
                            </td>
                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@km_Active</td>
                            }
                            else
                            {
                                <td id="_Nc">@km_Not_Active?.ToString("N2", CultureInfo.InvariantCulture)</td>
                            }


                            <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf_proforma = receptInvoice?.CrCasAccountInvoiceEnPdfFile;
                                var Link_pdf_taxation = recepttaxation?.CrCasAccountInvoiceEnPdfFile;
                                var Link_pdf_Contract = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                var Target_pdf_1 = "#";
                                var Target_pdf_2 = "#";
                                var Target_pdf_3 = "#";
                                if (Link_pdf_proforma?.Count() > 2)
                                {
                                    Link_pdf_proforma = Link_pdf_proforma.Replace("~", "");
                                    Target_pdf_1 = "_blank";
                                }
                                if (Link_pdf_taxation?.Count() > 2)
                                {
                                    Link_pdf_taxation = Link_pdf_taxation.Replace("~", "");
                                    Target_pdf_2 = "_blank";
                                }
                                if (Link_pdf_Contract?.Count() > 2)
                                {
                                    Link_pdf_Contract = Link_pdf_Contract.Replace("~", "");
                                    Target_pdf_3 = "_blank";
                                }
                            }
                            <td id="_Nc">
                                <div style="display:flex;justify-content:0;gap:4px;">
                                    <a href="@Link_pdf_proforma" target="@Target_pdf_1" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    @if (@item.CrCasRenterContractBasicStatus != @Status.Active)
                                    {
                                        <a href="@Link_pdf_taxation" target="@Target_pdf_2" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                    else
                                    {
                                        <a class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                </div>
                            </td>

                            <td id="_Nc">
                                <a href="@Link_pdf_Contract" target="@Target_pdf_3" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr>
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("dd/MM/yyyy - HH:mm", CultureInfo.InvariantCulture)</td>
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("dd/MM/yyyy - HH:mm", CultureInfo.InvariantCulture)</td>

                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicExpectedRentalDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            @*<td id="_Nc">@Model.CasRenterContractVM.CrCasRenterContractStatistics?.Where(x=>x.CrCasRenterContractStatisticsNo==item.CrCasRenterContractBasicNo)?.OrderByDescending(x=>x.CrCasRenterContractStatisticsDate)?.FirstOrDefault()?.CrCasRenterContractStatisicsDays</td>*@

                            <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationPlateEnNo</td>

                            <td id="_Nc">
                                @item.CrCasRenterContractBasicExpectedTotal?.ToString("N2", CultureInfo.InvariantCulture)
                            </td>
                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@km_Active</td>
                            }
                            else
                            {
                                <td id="_Nc">@km_Not_Active?.ToString("N2", CultureInfo.InvariantCulture)</td>
                            }
                            <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf_proforma = receptInvoice?.CrCasAccountInvoiceEnPdfFile;
                                var Link_pdf_taxation = recepttaxation?.CrCasAccountInvoiceEnPdfFile;
                                var Link_pdf_Contract = item.CrCasRenterContractBasicEnPdfFile;
                                var Target_pdf = "#";
                                var Target_pdf_1 = "#";
                                var Target_pdf_2 = "#";
                                var Target_pdf_3 = "#";
                                if (Link_pdf_proforma?.Count() > 2)
                                {
                                    Link_pdf_proforma = Link_pdf_proforma.Replace("~", "");
                                    Target_pdf_1 = "_blank";
                                }
                                if (Link_pdf_taxation?.Count() > 2)
                                {
                                    Link_pdf_taxation = Link_pdf_taxation.Replace("~", "");
                                    Target_pdf_2 = "_blank";
                                }
                                if (Link_pdf_Contract?.Count() > 2)
                                {
                                    Link_pdf_Contract = Link_pdf_Contract.Replace("~", "");
                                    Target_pdf_3 = "_blank";
                                }
                            }
                            <td id="_Nc">
                                <div style="display:flex;justify-content:0;gap:4px;">
                                    <a href="@Link_pdf_proforma" target="@Target_pdf_1" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    @if (@item.CrCasRenterContractBasicStatus != @Status.Active)
                                    {
                                        <a href="@Link_pdf_taxation" target="@Target_pdf_2" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                    else
                                    {
                                        <a class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                </div>
                            </td>

                            <td id="_Nc">
                                <a href="@Link_pdf_Contract" target="@Target_pdf_3" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                        </tr>
                    }
                    no++;
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-sm-12">
        @* For-scrolling *@
        <table id="basic-datatable" class="table table-bordered dt-responsive w-100 nowrap dataTable no-footer dtr-inline table-hover" role="grid" aria-describedby="basic-datatable_info" style="position: relative; width: 1166px; ">
            <thead>
                <tr role="row">
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["No"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["RenterContractId"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Start_Contract"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["End_Contract"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["Days_Count_New"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Car_Name"]</th>
                    <th class="scroll_1" aria-label="Position: activate to sort column ascending"> @localizer["Contract_Value"]</th>
                    <th class="scroll_1" id="_Nc" aria-sort="ascending" aria-label="Name: activate to sort column descending">@localizer["KM_Count_New"]</th>
                    <th class="scroll_1" style="text-align:start" aria-label="Position: activate to sort column ascending">@localizer["Status"]</th>
                    <th id="_Nc" class="scroll_1" data-orderable="false">@localizer["The_Invoice_two"]</th>
                    @*<th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["proforma_Invoice_New"]</th>
                <th class="scroll_1" aria-label="Position: activate to sort column ascending">@localizer["taxation_Invoice_New"]</th>*@
                    <th id="_Nc" class="scroll_1" data-orderable="false">@localizer["Contract_pdf_New"]</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int no = 1;
                }



                @foreach (var item in Model.CrCasRenterContractBasic)
                {
                    var receptInvoice = Model.CrCasAccountInvoice.Find(x => x.CrCasAccountInvoiceReferenceContract == item.CrCasRenterContractBasicNo && x.CrCasAccountInvoiceType == "308");
                    var recepttaxation = Model.CrCasAccountInvoice.Find(x => x.CrCasAccountInvoiceReferenceContract == item.CrCasRenterContractBasicNo && x.CrCasAccountInvoiceType != "308");
                    var km_Active = 0;
                    var km_Not_Active = item.CrCasRenterContractBasicActualCurrentReadingMeter - item.CrCasRenterContractBasicCurrentReadingMeter;
                    @if (item.CrCasRenterContractBasicStatus == @Status.Expire || item.CrCasRenterContractBasicStatus == @Status.Deleted)
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'" style="cursor:pointer;color:red">*@
                        <tr style="color:red">
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("yyyy/MM/dd - HH:mm", CultureInfo.InvariantCulture)</td>
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("yyyy/MM/dd - HH:mm", CultureInfo.InvariantCulture)</td>
                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicExpectedRentalDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                                //String.Format( "{0:#,##0.##}", رقم ال int )
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            @*<td id="_Nc">@Model.CasRenterContractVM.CrCasRenterContractStatistics?.Where(x=>x.CrCasRenterContractStatisticsNo==item.CrCasRenterContractBasicNo)?.OrderByDescending(x=>x.CrCasRenterContractStatisticsDate)?.FirstOrDefault()?.CrCasRenterContractStatisicsDays</td>*@
                            <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationPlateArNo</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2", CultureInfo.InvariantCulture)</td>

                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@km_Active</td>
                            }
                            else
                            {
                                <td id="_Nc">@km_Not_Active?.ToString("N2", CultureInfo.InvariantCulture)</td>
                            }
                            <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>


                            @{
                                var Link_pdf_proforma = receptInvoice?.CrCasAccountInvoiceArPdfFile;
                                var Link_pdf_taxation = recepttaxation?.CrCasAccountInvoiceArPdfFile;
                                var Link_pdf_Contract = item.CrCasRenterContractBasicArPdfFile;
                                var Target_pdf = "#";
                                var Target_pdf_1 = "#";
                                var Target_pdf_2 = "#";
                                var Target_pdf_3 = "#";
                                if (Link_pdf_proforma?.Count() > 2)
                                {
                                    Link_pdf_proforma = Link_pdf_proforma.Replace("~", "");
                                    Target_pdf_1 = "_blank";
                                }
                                if (Link_pdf_taxation?.Count() > 2)
                                {
                                    Link_pdf_taxation = Link_pdf_taxation.Replace("~", "");
                                    Target_pdf_2 = "_blank";
                                }
                                if (Link_pdf_Contract?.Count() > 2)
                                {
                                    Link_pdf_Contract = Link_pdf_Contract.Replace("~", "");
                                    Target_pdf_3 = "_blank";
                                }
                            }
                            <td id="_Nc">
                                <div style="display:flex;justify-content:0;gap:4px;">
                                    <a href="@Link_pdf_proforma" target="@Target_pdf_1" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    @if (@item.CrCasRenterContractBasicStatus != @Status.Active)
                                    {
                                        <a href="@Link_pdf_taxation" target="@Target_pdf_2" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                    else
                                    {
                                        <a class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                </div>
                            </td>

                            <td id="_Nc">
                                <a href="@Link_pdf_Contract" target="@Target_pdf_3" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                            @*<td id="_Nc">@ViewBag.v1</td>*@


                        </tr>
                    }
                    else
                    {
                        @*<tr onclick="location.href='@Url.Action("Edit", "RenterContract", new { id = item.CrCasRenterLessorId })'">*@
                        <tr>
                            <td id="_Nc">@no</td>
                            @if (item.CrCasRenterContractBasicCopy > 0)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo <em style='color: red;font-style:normal'> &ensp;(@item.CrCasRenterContractBasicCopy)</em></td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicNo</td>
                            }
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedStartDate?.ToString("yyyy/MM/dd - HH:mm", CultureInfo.InvariantCulture)</td>
                            <td style="text-align:start">@item.CrCasRenterContractBasicExpectedEndDate?.ToString("yyyy/MM/dd - HH:mm", CultureInfo.InvariantCulture)</td>
                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicExpectedRentalDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            else
                            {
                                <td id="_Nc">@item.CrCasRenterContractBasicActualDays?.ToString("N2", CultureInfo.InvariantCulture).Replace(".00", "")</td>
                            }
                            @*<td id="_Nc">@Model.CasRenterContractVM.CrCasRenterContractStatistics?.Where(x=>x.CrCasRenterContractStatisticsNo==item.CrCasRenterContractBasicNo)?.OrderByDescending(x=>x.CrCasRenterContractStatisticsDate)?.FirstOrDefault()?.CrCasRenterContractStatisicsDays</td>*@

                            <td style="text-align:start">@item.CrCasRenterContractBasicCarSerailNoNavigation.CrCasCarInformationPlateArNo</td>

                            <td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal?.ToString("N2", CultureInfo.InvariantCulture)</td>

                            @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                            {
                                <td id="_Nc">@km_Active</td>
                            }
                            else
                            {
                                <td id="_Nc">@km_Not_Active?.ToString("N2", CultureInfo.InvariantCulture)</td>
                            }
                            <td style="text-align:start">

                                @if (@item.CrCasRenterContractBasicStatus == @Status.Active)
                                {
                                    @localizer["Standing"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Extension)
                                {
                                    @localizer["Extended"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Closed)
                                {
                                    @localizer["Closed"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Cancel)
                                {
                                    @localizer["Canceled"]
                                }
                                else if (@item.CrCasRenterContractBasicStatus == @Status.Expire)
                                {
                                    @localizer["Expired"]
                                }
                                else
                                {

                                }
                            </td>

                            @{
                                var Link_pdf_proforma = receptInvoice?.CrCasAccountInvoiceArPdfFile;
                                var Link_pdf_taxation = recepttaxation?.CrCasAccountInvoiceArPdfFile;
                                var Link_pdf_Contract = item.CrCasRenterContractBasicArPdfFile;
                                var Target_pdf = "#";
                                var Target_pdf_1 = "#";
                                var Target_pdf_2 = "#";
                                var Target_pdf_3 = "#";
                                if (Link_pdf_proforma?.Count() > 2)
                                {
                                    Link_pdf_proforma = Link_pdf_proforma.Replace("~", "");
                                    Target_pdf_1 = "_blank";
                                }
                                if (Link_pdf_taxation?.Count() > 2)
                                {
                                    Link_pdf_taxation = Link_pdf_taxation.Replace("~", "");
                                    Target_pdf_2 = "_blank";
                                }
                                if (Link_pdf_Contract?.Count() > 2)
                                {
                                    Link_pdf_Contract = Link_pdf_Contract.Replace("~", "");
                                    Target_pdf_3 = "_blank";
                                }
                            }

                            <td id="_Nc">
                                <div style="display:flex;justify-content:0;gap:4px;">
                                    <a href="@Link_pdf_proforma" target="@Target_pdf_1" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    @if (@item.CrCasRenterContractBasicStatus != @Status.Active)
                                    {
                                        <a href="@Link_pdf_taxation" target="@Target_pdf_2" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                    else
                                    {
                                        <a class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                                    }
                                </div>
                            </td>

                            <td id="_Nc">
                                <a href="@Link_pdf_Contract" target="@Target_pdf_3" class="pdf-link"><img src="/BranchSys/Pages/img/Rectangle 193.png" alt="Link Pdf"></a>
                            </td>

                            @*<td id="_Nc">@item.CrCasRenterContractBasicExpectedTotal</td>*@
                        </tr>
                    }
                    no++;
                }

            </tbody>
        </table>
    </div>
}